@model Lab4_Cs.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}

@*if has notification, pop out alertion*@
@if (!string.IsNullOrEmpty(ViewBag.notification))
{
    <script>alert("@ViewBag.notification");</script>
}

<h4>Create new User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*call CreateUser function in home controller to perform user creation*@
        <form asp-controller="Home" asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*fill Firstname, check validation*@
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" style="width:1000px;" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            @*fill Lastname, check validation*@
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" style="width:1000px;" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            @*fill EmailAddress, check validation*@
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" style="width:1000px;" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            @*fill Password, check validation*@
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" style="width:1000px;" />(At least 8 characters)
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @*fill RoleId, check validation*@
            <div class="form-group">
                <label asp-for="RoleId" for="Select">Role</label>
                @*set selectbox for role selection, set assigned value for different user types*@
                <select asp-for="RoleId" class="form-control" id="Selectbox" placeholder="General User" required>
                    <option value="1">General User</option>
                    <option value="2">Admin</option>
                </select>
            </div>
            @*submit button to request action performed*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*call Index in home controller to direct to home page*@
<div>
    <a asp-action="Index">Back to List</a>
</div>

